In [1]:
import pandas as pd
import numpy as np

In [2]:
calories = {'day1':450,'day2':460,'day3':670}
obj = pd.Series(calories)

In [3]:
obj

day1    450
day2    460
day3    670
dtype: int64

In [4]:
obj.iloc[-1]

670

In [5]:
obj.loc['day1']

450

In [8]:
obj.index

Index(['day1', 'day2', 'day3'], dtype='object')

In [9]:
obj.values

array([450, 460, 670], dtype=int64)

In [14]:
# pandas DataFrame 
data = {'calories':[450,460,720],
        'duration':[50,45,40]}
df  = pd.DataFrame(data, index = [1,2,3])
df

   calories  duration
1       450        50
2       460        45
3       720        40

In [22]:
#refer to the row index:
df.loc[1]

calories    450
duration     50
Name: 1, dtype: int64

In [27]:
df.loc[[1,2]]

   calories  duration
1       450        50
2       460        45

In [28]:
#Named Indexes
data

{'calories': [450, 460, 720], 'duration': [50, 45, 40]}

In [29]:
df1 = pd.DataFrame(data,index =['day1','day2','day3'])
df1

      calories  duration
day1       450        50
day2       460        45
day3       720        40

In [31]:
df1.loc['day1']

calories    450
duration     50
Name: day1, dtype: int64

In [41]:
def factorial(n):
    fac = 1
    for i in range(1,n+1):
        fac = fac*i
    return fac
factorial(0)

1